  body {
    background-color: rgb(254, 203, 0);
  }
  
  h1 {
    color: rgb(66, 89, 158);
    margin-left: 20px;
    font-family: “Playfair Display”, “Didot”, "Times New Roman", Times, serif; 
  } 

  h2 {
    color: rgb(201, 31, 42);
    margin-left: 20px;
    font-family: “Playfair Display”, “Didot”, "Times New Roman", Times, serif; 
  } 

  p {
    color: rgb(55, 64, 67);
    margin-left: 20px;
    font-family: “Playfair Display”, “Didot”, "Times New Roman", Times, serif; 
  }

  ul {
    color: rgb(55, 64, 67);
    margin-left: 30px;
  }
   .circle {
    list-style-type: circle;
    margin-left: -.8em;
   }

   ol {
    color: rgb(55, 64, 67);
    margin-left: 30px;
  }
   .latin {
    list-style-type: lower-latin;
    margin-left: -.8em;
   }

   img {
    margin-left: 50px;
  }